.notification-bar {
  background-color: rosybrown;
  color: white;
}
#splash-page {
  z-index: 99999 !important;
}
#splash-page.ng-hide-add-active {
  display: block!important;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
#splash-page.ng-hide {
  opacity: 0;
}
#splash-page .bar {
  width: 100%;
}
.page-splash {
  z-index: 99999 !important;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  pointer-events: auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.page-splash-message {
  text-align: center;
  margin: 20% auto 0 auto;
  font-size: 400%;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  text-decoration: none;
  color: #F58A00;
  padding: 0;
}
.page-splash-message.page-splash-message-subtle {
  margin: 30% auto 0 auto;
  font-size: 200%;
}
.top-bar {
  background-color: green;
  min-height: 30px;
  color: white;
}
.vertical-button-container button {
  text-align: center;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  display: block;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.chat-log-list-item {
  border: 1px solid black;
  margin: 3px;
  background-color: #bbb;
  color: white;
  background-color: gray;
  padding: 5px 10px;
}
.chat-log-list-item a {
  text-decoration: none;
  color: inherit;
}
.chat-log-list-item h5 {
  font-size: 16px;
  font-weight: 400;
}
.chat-log-list-item p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ccc;
}
.add-bubble {
  z-index: 1000;
  border-radius: 30px;
  background-color: blue;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  vertical-align: center;
  text-align: center;
  padding-top: 8px;
  color: white;
  font-size: 26px;
  cursor: pointer;
  border: 0;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
}
#chat {
  position: relative;
  height: 540px;
}
.chat-window {
  height: 100%;
  position: relative;
}
.chat-window .message-pane {
  overflow-y: scroll;
  position: relative;
  height: 500px;
  display: block;
  zoom: 1;
}
.chat-window .message-pane:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.chat-window .chat-controls {
  position: absolute;
  bottom: 1px;
}
.chat-bubble {
  width: 300px;
  margin: 5px;
}
.chat-bubble.sent {
  float: right;
}
.chat-bubble.sent .message-body {
  background-color: green;
}
.chat-bubble.received {
  float: left;
}
.chat-bubble.received .message-body {
  background-color: #5050ff;
}
.chat-bubble .message-time {
  color: red;
  font-size: 10px;
  font-family: 'Arial';
}
.chat-bubble .message-body {
  display: block;
  padding: 3px;
  padding-left: 8px;
  color: white;
  border-radius: 2px;
  border: 1px solid black;
}
body,
html {
  margin: 0;
  padding: 0;
}
.device-root {
  width: 360px;
  height: 640px;
  margin: 0 auto;
  border: 1px solid black;
  position: relative;
}
