<h2>{{vm.product.name}}</h2>
<div>
    <span class="price">{{vm.product.price}}</span>
</div>
<div>
    <img ng-src="{{vm.product.imageUrl}}">
</div>


<!-- <div class="rating-container" ng-init="x = 2; y=5">
	<rating class="rating" ng-model="x" readonly="true" max="5" ></rating>
	<rating class="rating rating-value" ng-model="y" readonly="true" max="5" ></rating>
</div> -->

<div>{{vm.product.description}}</div>

<div class="product-specs container-fluid">
    <div ng-repeat="spec in vm.product.specs" class="row">
        <div class="col-md-3">
            {{spec.display || spec.name}}
        </div>
        <div class="col-md-9">
            <div ng-if="spec.type == 'select'">
                <select ng-model="vm.details[spec.name]" ng-options="x for x in spec.options">
                </select>
            </div>
            <div ng-if="spec.type == 'text'">
                <input type="text" ng-model="vm.details[spec.name]">
            </div>
        </div>
    </div>
</div>

<button ng-click="vm.createChat()">Ask About</button>
<button ng-click="vm.callAssociate()">Call Associate</button>
