@import "mixins";

.chat-log-list{
    //overflow: scroll;
}

.chat-controls {
    margin-bottom: 5px;

    //-webkit-box-shadow: inset 0px -1px 6px 0px rgba(0,0,0,0.25);
    //-moz-box-shadow:    inset 0px -1px 6px 0px rgba(0,0,0,0.25);
    box-shadow:          0px -1px 6px 0px rgba(0,0,0,0.25);
}

.chat-log-list-item {
    border: 1px solid black;
    margin: 3px;
    background-color: #bbb;
    color: white;
    background-color: gray;
    padding: 5px 10px;
    a {
        text-decoration: none;
        color: inherit;
    }
    h5 {
        font-size: 16px;
        font-weight: 400;
    }
    p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #ccc;
    }
}
.add-bubble {
    z-index: 1000;
    border-radius: 30px;
    background-color: blue;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    vertical-align: center;
    text-align: center;
    padding-top: 8px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    border: 0;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
}

#chat {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.chat-window {

	//position: relative;
    overflow-y: auto;
    height: 100%;

    .message-pane {

        .clearfix; 

        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    // .chat-controls {
    //     position: absolute;
    //     bottom: 1px;
    // }
}

.chat-bubble {
    width: 300px;
    margin: 5px;
    &.sent {
        float: right;
        .message-body {
            background-color: green;
        }
    }
    &.received {
        float: left;
        .message-body {
            background-color: rgb(80, 80, 255);
        }
    }
    .message-time {
        color: red;
        font-size: 10px;
        font-family: 'Arial';
    }
    .message-body {
        display: block;
        padding: 3px;
        padding-left: 8px;
        color: white;
        border-radius: 2px;
        border: 1px solid black;
    }
}

.image-container {
    width: 90px;
    display: inline-block;
    margin-right: 10px;
}