@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/sourcesanspro/sourcesanspro-light.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/sourcesanspro/sourcesanspro.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/sourcesanspro/sourcesanspro-bold.woff') format('woff');
}
.font-thin {
  font-weight: 300;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.ribbon {
  color: #fff;
  margin: 10px 0 20px;
  position: relative;
  text-transform: uppercase;
  background: #8ea636;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  clear: both;
}
.ribbon h2 {
  margin: 0 22px;
  color: white;
}
.ribbon-fold-left {
  color: #000;
  margin-left: -20px;
  z-index: 5;
}
.ribbon-fold-left::before {
  display: block;
  width: 20px;
  height: 0px;
  position: absolute;
  bottom: -10px;
  left: -1px;
  content: "";
  border-bottom: 10px solid transparent;
  border-right: 20px solid #4c591d;
}
.ribbon-fold-right {
  margin-right: -20px;
}
.ribbon-fold-right:after {
  display: block;
  width: 20px;
  height: 0px;
  position: absolute;
  bottom: -10px;
  right: 1px;
  content: "";
  border-bottom: 10px solid transparent;
  border-left: 20px solid #4c591d;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content {
  border: 1px solid black;
  height: 100%;
  margin-left: 200px;
}
.debug-panel {
  margin-left: 200px;
}
#splash-page {
  z-index: 99999 !important;
}
#splash-page.ng-hide-add-active {
  display: block!important;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
#splash-page.ng-hide {
  opacity: 0;
}
#splash-page .bar {
  width: 100%;
}
.page-splash {
  z-index: 99999 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  pointer-events: auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.page-splash-message {
  text-align: center;
  margin: 20% auto 0 auto;
  font-size: 400%;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  text-decoration: none;
  color: #F58A00;
  padding: 0;
}
.page-splash-message.page-splash-message-subtle {
  margin: 30% auto 0 auto;
  font-size: 200%;
}
#login {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url('../img/bg.jpg');
  overflow: hidden;
}
#login .login-box {
  background-color: white;
  border: 1px solid gray;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}
#login .login-box .login-header {
  background-color: #c8c8c8;
  border-bottom: 1px solid gray;
  padding: 10px;
}
#login .login-box .login-header h1 {
  font-weight: 300;
  margin: 0px;
}
#login .login-box h2 {
  font-weight: 300;
}
.store-badge {
  margin: 4px;
  border: 1px solid black;
  padding: 8px;
  cursor: pointer;
}
.store-badge:hover {
  background-color: gray;
}
.store-badge a {
  text-decoration: none;
}
.store-badge .org-label {
  font-size: 14px;
}
.store-badge .store-label {
  font-size: 12px;
}
.store-list {
  width: 200px;
  float: left;
}
.store-info {
  margin-left: 200px;
}
.task-badge {
  margin: 4px;
  border: 1px solid black;
  padding: 0px;
}
.task-badge.task {
  border: 2px solid green;
}
.task-badge.complete {
  border-left-width: 10px;
}
.top-bar {
  min-height: 30px;
  background-color: green;
  color: white;
  display: block;
  zoom: 1;
}
.top-bar:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.avatar {
  padding: 10px;
  vertical-align: middle;
  color: white;
  display: inline-block;
}
.brand {
  width: 200px;
  background-color: #323232;
  display: inline-block;
  float: left;
  padding: 10px;
}
select {
  background-color: gray;
}
aside {
  float: left;
  width: 200px;
  color: white;
  background-color: #323232;
}
aside:before {
  content: "";
  position: absolute;
  width: inherit;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: inherit;
  border: inherit;
}
aside .nav {
  font-size: 14px;
}
aside > .nav > li > a {
  color: white;
}
aside > .nav > li > a:hover,
aside > .nav > li > a:focus {
  background-color: #3c3c3c;
  color: red;
}
.active {
  background-color: green !important;
}
.sidebar-label {
  margin-left: 10px;
}
.chat-log-list-item {
  border: 1px solid black;
  margin: 3px;
  color: white;
  background-color: gray;
  padding: 5px 10px;
  cursor: pointer;
}
.chat-log-list-item.hasUnread {
  background-color: #bbb;
}
.chat-log-list-item.selected {
  border: 2px solid black;
}
.chat-log-list-item a {
  text-decoration: none;
  color: inherit;
}
.chat-log-list-item h5 {
  font-size: 16px;
  font-weight: 400;
}
.chat-log-list-item p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ccc;
}
.chat-window {
  width: 400px;
  border: 1px solid black;
  min-height: 300px;
}
.chat-window .message-pane {
  overflow-y: scroll;
  position: relative;
  max-height: 400px;
  display: block;
  zoom: 1;
}
.chat-window .message-pane:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.chat-bubble {
  width: 300px;
  margin: 5px;
}
.chat-bubble.sent {
  float: right;
}
.chat-bubble.sent .message-body {
  background-color: green;
}
.chat-bubble.received {
  float: left;
}
.chat-bubble.received .message-body {
  background-color: #5050ff;
}
.chat-bubble .message-time {
  color: red;
  font-size: 10px;
  font-family: 'Arial';
}
.chat-bubble .message-body {
  display: block;
  padding: 3px;
  padding-left: 8px;
  color: white;
  border-radius: 2px;
  border: 1px solid black;
}
.task-list {
  padding: 0;
}
.task {
  width: 150px;
  height: 80px;
  display: inline-block;
  border: 1px solid black;
  border-left-width: 10px;
  padding: 3px;
  padding-left: 6px;
  list-style: none;
  margin: 5px;
  vertical-align: top;
}
.task a {
  color: black;
}
.task a:hover,
.task a:focus {
  text-decoration: none;
}
.task.request {
  border-color: red;
}
.task.ticket {
  border-color: green;
}
.task.mine {
  font-weight: bold;
}
.task.selected {
  background-color: gray;
}
.task.unassigned {
  border-color: blue;
}
.task.assigned {
  border-color: orange;
}
.task.engaged {
  border-color: yellow;
}
.task.complete {
  border-color: green;
}
.stat-value-lg {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  display: block;
}
.stat-label {
  text-align: center;
  display: block;
}
