@import "mixins";

.chat-log-list-item {
    border: 1px solid black;
    margin: 3px;
    
    color: white;
    background-color: gray;
    padding: 5px 10px;

    cursor: pointer;

    &.hasUnread {
        background-color: #bbb;
    }

    &.selected {
        border: 2px solid black;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
    h5 {
        font-size: 16px;
        font-weight: 400;
    }
    p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #ccc;
    }
}

.chat-window {
    width: 400px;
    border: 1px solid black;
    min-height: 300px;    

    .message-pane {
        overflow-y: scroll;
        position: relative;
        max-height: 400px;

        .clearfix;
    }
}

.chat-bubble {    
    width: 300px;
    margin: 5px;

    &.sent {
        
        float: right;
        .message-body {
        	background-color: green;	
        }
    }
    
    &.received {        
        float: left;

         .message-body {
			background-color: rgb(80, 80, 255);
         }
    }

	.message-time {	
		color: red;
		font-size: 10px;
		font-family: 'Arial';
	}

	.message-body {
		display: block;
		padding: 3px;
    	padding-left: 8px;
    	color: white;
    	border-radius: 2px;
    	border: 1px solid black;
	}

}
