
// http://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/

html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(240, 243, 244);
}

.content {
    //border: 1px solid black;
    //height: 100%;
    //margin-left: 200px;
    flex: 2;
    //padding: 15px;
}

.float-container {
    //.clearfix;
}

.debug-panel {
    margin-left: 200px;
}

.row-sm {
    margin-right: -10px;
    margin-left: -10px;

    & > div{
        padding-right: 10px;
        padding-left: 10px;
    }
}

.card {
    margin-bottom: 10px;
    margin-top: 10px;

    //margin: 5px;

    background-color: #fff;
    border: 1px solid transparent;
    // border-radius: 4px;

    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    text-align: center;
}

.stat-card {
    padding-top: 10px;
    padding-bottom: 10px;
    // background-color: gray;

    .stat-value {
        font-size: 36px;
        font-weight: 300;
    }
    .stat-label {
        font-size: 12px;
        color: #98a6ad;
    }

}

.shell {
    //border: 1px solid green;
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;


    &>main {
        //height:100%;

        flex: 1;
        display: flex;
        flex-direction: row;

        //flex: 2 100%;
        //width: 100%;

         &>aside {
            //flex: 2 0;
            flex: 0 0 200px;
            order: -1;
        }
    }
}

flot {
    display: block;
}
