<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide {
            display: none !important;
        }
    </style>

    <!-- inject:css -->
    <!-- endinject -->
</head>
<body ng-app="aladdin" qa-set-store-class>

   <!--  <pre class="debug-hover left" style="width: 300px; min-height:400px; height: 95vh; overflow-y: scroll; margin: 0;"
    >{{$state.current | json}}</pre>

    <div class="debug-hover right vertical-button-container" style="width: 300px;" ng-controller="OutsideShellController as vm">
        <button ng-click="vm.setStore('54bbe9e04c72702035848af9')" class="btn btn-lg btn-block">Starbucks - Parkway</button>
        <button ng-click="vm.setStore('549238e2e3e4aca016fb2443')" class="btn btn-lg btn-block">Symbiote - Home</button>
        <button ng-click="vm.setStoreUsingLocation()" class="btn btn-lg btn-block">Use Location</button>
    </div> -->

    <div class="device-root">
        <!-- <div ng-include="'app/areas/layout/header.html'"></div> -->
        
        <div ui-view></div>
        <div id="splash-page" ng-show="showSplash" class="ng-hide-animate">
            <div class="page-splash">
                <div class="page-splash-message">
                    aladdin
                </div> 
                <div class="loading">
                    <i class="fa fa-spinner fa-spin fa-2x"> </i>
                </div>
                <!-- <div class="progress">
                    <progressbar class="progress-striped active" value="1" max="1"></progressbar>
                </div>-->
            </div>
        </div>
    </div>  
    <!--<script src="vendor/angular.js"></script>
    <script src="vendor/angular-ui-router.js"></script>
    <script src="vendor/socket.io.js"></script>
    <script src="vendor/socket.js"></script>
    <script src="scripts/app.js"></script>-->

    <!-- inject:js -->
    <!-- the rest of the *.js files will be injected here -->
    <!-- endinject -->
</body>
</html>