@import "mixins";

html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
    border: 1px solid black;
    height: 100%;
    margin-left: 200px;
}

.float-container {
    //.clearfix;
}

.debug-panel {
    margin-left: 200px;
}

.horizontal-scroll {
    .clearfix;

	overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    
    position: relative;
    width: 100%;
    
	& > div {		
        vertical-align: top;
        display: inline-block;

        margin-right: 15px;
    
        & > section {
            min-width: 400px;
            height: 600px;
        }
	}
}

.dropdown-toggle {
    cursor: pointer;
}

a[ng-click]{
    cursor:pointer;
}