<div>
    <h1>{{vm.store.organization.name}}</h1>

    <div>
        {{vm.store.name}}
    </div>

    <div class="vertical-button-container">
    <button class="btn btn-lg btn-default btn-block" ui-sref="search">Self Help</button>

        <button class="btn btn-lg btn-default btn-block" ui-sref="chat-list">Chat</button>
        <button class="btn btn-lg btn-default btn-block" ng-click="vm.requestHelp()">Call an associate</button>
        
    </div>
</div>
<!--<h2>Home</h2>

<button class="btn btn-lg" ui-sref="chat">Chat</button>
<button class="btn btn-lg" ng-click="requestHelp()">Request Help</button>
<button class="btn btn-lg">Find</button>
<pre>{{data}}</pre>
<pre>{{store | json}}</pre>-->
