<h2>Tasks</h2>

<div>
    <h3>Assigned to me</h3>
    <ul class="task-list">
        <li ng-repeat="task in vm.tasks | filter: {mine: true}" ng-class="['task', task.type, task.selected ? 'selected' : '', isMe(task.assigned_to) ? 'mine' : '']">
            <a ui-sref='task-details({taskId: task._id})'>
                <div>{{task.displayTitle}}</div>
                <div>{{task.product.department.name}}</div>
                <div>{{task.product.name}}</div>
                <div>{{task.created_at | fromNow}}</div>
            </a>
        </li>
    </ul>
</div>

<div>
    <h3>Available</h3>
    <ul class="task-list">
        <li ng-repeat="task in vm.tasks | filter: {mine: false}" ng-class="['task', task.type, task.selected ? 'selected' : '', isMe(task.assigned_to) ? 'mine' : '']">
            <a ui-sref='task-details({taskId: task._id})'>
                <div>{{task.displayTitle}}</div>
                <div>{{task.product.department.name}}</div>
                <div>{{task.product.name}}</div>
                <div>{{task.created_at | fromNow}}</div>
            </a>
        </li>        
    </ul>
</div>
