<div class="top-bar" ng-controller="HeaderController as vm">

    <div class="brand">
        solomon
    </div>
    <div class="selections pull-left">
    	<select ng-model="vm.org" 
    		ng-options="item.name for item in vm.orgs track by item._id">
    		</select>
    	<select ng-model="vm.store" 
    		ng-options="item.name for item in vm.stores track by item.id">
    		</select>
    		{{vm.org.name}} -> {{vm.store.name}}
    </div>

    <div class="pull-right">
        <a class="avatar">
            <span>{{vm.user.username}}</span>
            <i class="fa fa-user"></i>
        </a>
    </div>
</div>
