<div class="shell" ng-controller="ShellController as vm">

    <header>
        <div ng-include="'app/layout/header.html'"></div>
    </header>
   
    <main>
        <div ui-view class="content container" ng-class="['content', 'container', $state.current.name]">
            {{vm.message}}
        </div>
         <aside class="left-bar side-bar" ng-include="'app/areas/aside/aside.html'">
            
        </aside>
       
    </main>
    <!-- <footer>foot</footer> -->
  <!--   <div class="debug-panel">
        <pre>{{$state.current | json}}</pre>
    </div> -->
</div>
