<h1>Chats</h1>
<div>
    <div ng-repeat="c in vm.chats" class="chat-window">
        <button ng-click="vm.join(c)">Join</button>
        <button ng-click="vm.leave(c)">Leave</button>
        <div class="message-pane">
            <div ng-repeat="m in c.messages" ng-class="{'chat-bubble': true, sent: m.sent, received: !m.sent}">
                <span class="message-time">{{m.time | date: 'medium'}}</span>
                <div class="message-body">{{m.message}}</div>
            </div>            
        </div>
        <div class="input-group">
                <input type="text" ng-model="c.currentMessage" class="form-control">
                <span class="input-group-btn">
                    <button ng-click="vm.sendMessage(c, c.currentMessage);" class="btn btn-default">
                        <i class="glyphicon glyphicon-send"></i>
                    </button>
                </span>
                
            </div>
    </div>
</div>
